<!--  Menu -->
<div class="navbar navbar-fixed-top">
    <nav class="navbar-inner">
        <a class="brand" href="{{ path('etheriq_les5_index') }}">&nbsp;&nbsp;&nbsp;Site name</a>
        <ul class="nav">
            <li class="divider-vertical"></li>
            <li>
                <a href="{{ path('etheriq_les5_index') }}"><i class="icon-home"></i> Главная</a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> ДЗ Lesson 5 <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{{ path('etheriq_les5_slider') }}"><i class="icon-ok"></i>Slider</a>
                    </li>
                    <li class="dropdown-submenu">
                        <a href="#"><i class="icon-folder-open"></i> Page 2-2</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('etheriq_les5_contact') }}">Contact</a>
                            </li>
                            <li>
                                <a href="{{ path('etheriq_les5_about') }}">About</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">Page 2-2-3</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#"><i class="icon-home"></i> Page 2-3</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="icon-plane"></i> Page 3</a>
            </li>
            <li>
                <a href="#"><i class="icon-play"></i> Page 4</a>
            </li>
            <li>
                <a href="#"><i class="icon-globe"></i> Page 5</a>
            </li>
        </ul>
        <form class="navbar-form form-search pull-right">
            <div class="input-append">
                <input type="text" class="span2 search-query" placeholder="That finding?"/>
                <button type="submit" class="btn"><i class="icon-search"></i> Search </button>
            </div>
        </form>
        <a href="{{ path('etheriq_les5_login') }}" class="btn btn-mini btn-info pull-right" role="button" style="margin-top: 9px; margin-right: 15px;" data-toggle="modal"><i class="icon-user"></i> Войти</a>
    </nav>

</div>
<!--  end menu -->
